{% if site.social-network-links %}
<ul class="list-inline text-center social-icons">

{%- for network in site.social-network-links -%}

  {%- if network[0] == "rss" and network[1] and site.rss-description -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "email" -%}
  <li class="list-inline-item">
    <a href="mailto:{{ network[1] }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "github" -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ network[1] }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "twitter" -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ network[1] }}" title="X (Twitter)">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">X (Twitter)</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "linkedin" -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ network[1] }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "stackoverflow" -%}
  <li class="list-inline-item">
    <a href="https://stackoverflow.com/users/{{ network[1] }}" title="StackOverflow">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">StackOverflow</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "ORCID" -%}
 <li class="list-inline-item">
   <a href="https://orcid.org/{{ network[1] }}" title="ORCID">
     <span class="fa-stack fa-lg" aria-hidden="true">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fab fa-orcid fa-stack-1x fa-inverse"></i>
     </span>
     <span class="sr-only">ORCID</span>
   </a>
 </li>
  {%- endif -%}

  {%- if network[0] == "google-scholar" -%}
  <li class="list-inline-item">
    <a href="https://scholar.google.com/citations?user={{ network[1] }}" title="Google Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Google Scholar</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "patreon" -%}
  <li class="list-inline-item">
    <a href="https://patreon.com/{{ network[1] }}" title="Patreon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-patreon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Patreon</span>
    </a>
  </li>
  {%- endif -%}
  
  {%- if network[0] == "medium" -%}
  <li class="list-inline-item">
    <a href="https://medium.com/@{{ network[1] }}" title="Medium">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Medium</span>
    </a>
  </li>
  {%- endif -%}

  
  {%- if network[0] == "kaggle" -%}
  <li class="list-inline-item">
    <a href="https://www.kaggle.com/{{ network[1] }}" title="Kaggle">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-kaggle fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Kaggle</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "hackerrank" -%}
  <li class="list-inline-item">
    <a href="https://www.hackerrank.com/{{ network[1] }}" title="Hackerrank">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-hackerrank fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Hackerrank</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "resume" -%}
  <li class="list-inline-item">
    <a href="{{ network[1] }}" target="_blank" title="Personal CV">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Personal CV</span>
   </a>
  </li>
  {%- endif -%}

{%- endfor -%}

</ul>
{% endif %}
