---
layout: page
---


{% include personal_info.html %}

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<h1>Selected publications</h1>

<hr style="border: 1px solid black;">

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <article>

      {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}

      {% if site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-normal">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </div>
      {% endif %}
      {% endif %}

      <h2 class="post-title">{{ post.title | strip_html }}</h2>
      {% if post.subtitle %}
        <h3 class="post-subtitle">
        {{ post.subtitle | strip_html }}
        </h3>
      {% endif %}

      {% if thumbnail != "" %}
      <div class="post-image post-image-small">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </div>
      {% endif %}

      {% unless site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-short">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </div>
      {% endif %}
      {% endunless %}

      <div class="post-buttons">
        <a href="{{ post.publi_link }}" class="btn btn-primary" target="_blank">PDF</a>
        {% if post.video_path %}
          <a href="{{ site.baseurl }}/video-page/?video_url={{ post.video_path }}&width=640&height=360" class="btn btn-primary" target="_blank">Video</a>
        {% endif %}
      </div>

    </article>
  </li>
  {% endfor %}
</ul>


<h1>Patents</h1>
<hr style="border: 1px solid black;">

<ul>
  <li>Y. Zhang, <strong>A. A. Amadou</strong>, I. Voigt, V. Mihalef, R. Liao, T. Mansi, M. John, B. Rao, H. C. Houle "<em>Annular structure representation</em>", 2021</li>
  <li><strong>A. A. Amadou</strong>, R. Liao, Y. Zhang, "<em>Semi-supervised tracking in medical images with cycle tracking</em>", 2023</li>
  <li>R. Liao, Y-H Kim, J. Collins, <strong>A. A. Amadou</strong>, S. Piat, A. Kapoor, T. Mansi, E-L Noha, S. Grbic, D. Comaniciu, X. S. Zheng, B. Liu, X. Zhoubing, J-H Park "<em>Smart image navigation for intracardiac echocardiography</em>", 2023</li>
  <li>R. Liao, V. N. Murthy, Y. Zhang, <strong>A. A. Amadou</strong> "<em>Method and System for Vascular Catheter Tip Detection in Medical Images</em>", 2024</li>
</ul>



{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
